.page {
  &__faq {
    margin-bottom: rem(212);

    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-bottom: rem(140);
    }
  }
}
.faq {
  &__container {
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  &__header {
    @extend %fl-c;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__link {
    color: var(--clr-purple);
    text-align: center;
    font-size: rem(10);
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--clr-purple);
    transition: border-color 0.32s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        border-color: transparent;
      }
    }
  }

  &__body {
    .tabs {
      @extend %fl-r-ct;
    }

    .tabs__navigation {
      flex: 0 0 rem(690);

      &:not(:last-child) {
        margin-right: rem(130);
      }

      //== 1360px ==//
      @media (max-width: $note-l) {
        flex: 0 0 rem(540);
        &:not(:last-child) {
          margin-right: rem(90);
        }
      }
      //== 1200px ==//
      @media (max-width: $note-m) {
        flex: 0 0 rem(380);
        &:not(:last-child) {
          margin-right: rem(90);
        }
      }
      //== 992px ==//
      @media (max-width: $tb) {
        display: none;
      }
    }

    .tabs__title {
      width: 100%;
      cursor: pointer;
      @extend %fl-r-ctb;
      padding: rem(20) rem(27);
      border-radius: 6px;
      border: 1px solid #d8ebf6;
      background: var(--clr-white);
      box-shadow: 0px 8px 12px 0px rgba(117, 132, 146, 0.06);
      transition: all 0.32s ease-in-out;
      text-align: left;

      color: var(--clr-black);
      font-size: rem(16);
      font-weight: 600;
      letter-spacing: 2.4px;

      &:not(:last-child) {
        margin-bottom: rem(15);

        //== 992px ==//
        @media (max-width: $tb) {
          margin-bottom: rem(25);
        }
      }

      span {
        &:not(:last-child) {
          margin-right: rem(15);
        }
      }

      svg {
        flex: 0 0 rem(9);
        fill: #39b8fe;
        transition: fill 0.32s ease-in-out;
      }

      @media (any-hover: hover) {
        &:hover {
          background-color: #39b8fe;
          color: var(--clr-white);
          svg {
            fill: var(--clr-white);
          }
        }
      }
      &._tab-active {
        background-color: #39b8fe;
        color: var(--clr-white);
        svg {
          fill: var(--clr-white);
        }
      }

      //== 440px ==//
      @media (max-width: $mb-s) {
        font-size: rem(14);
      }
    }

    .tabs__content {
      position: relative;
      min-height: rem(781);
      width: 100%;
      border-radius: rem(80);
      padding: rem(66) rem(59) rem(128);
      @extend %bg-cov;
      background-image: url('@img/faq/image.jpg');

      &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        width: rem(41);
        height: rem(164);
        left: 0;
        background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2241%22%20height%3D%22164%22%20viewBox%3D%220%200%2041%20164%22%20fill%3D%22%23F2F3F8%22%3E%3Cpath%20d%3D%22M0.275658%200.5V29.002C0.275658%2047.834%2010.4575%2065.1944%2026.8937%2074.3865L41%2082.2757H-57L0.275658%200.5Z%22%20fill%3D%22%23F2F3F8%22%2F%3E%3Cpath%20d%3D%22M0.275658%20163.776V135.274C0.275658%20116.442%2010.4575%2099.0813%2026.8937%2089.8891L41%2082H-57L0.275658%20163.776Z%22%20fill%3D%22%23F2F3F8%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-size: rem(41) rem(164);
      }

      //== 1200px ==//
      @media (max-width: $note-m) {
        min-height: rem(640);
        padding: rem(45) rem(40) rem(60) rem(55);
      }
      //== 992px ==//
      @media (max-width: $tb) {
        padding: 0;
        min-height: none;
        background-image: none;

        &::before {
          display: none;
        }
      }
    }
  }
}
.answer {
  position: relative;
  @extend %bg-cov;
  background-color: var(--clr-white);
  padding: rem(44) rem(40) rem(45) rem(52);
  border-radius: rem(80);

  //== 1200px ==//
  @media (max-width: $note-m) {
    padding: rem(45) rem(35);
    border-radius: rem(60);
  }
  //== 992px ==//
  @media (max-width: $tb) {
    padding: rem(40) rem(20) rem(25);
    border-radius: 0;
    background-image: url('@img/faq/image-mobile.jpg');
    &:not(:last-child) {
      margin-bottom: rem(20);
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      width: rem(76);
      height: rem(37);
      top: rem(-10);
      left: 50%;
      transform: translateX(-50%);
      background-size: 76px 37px;
      left: 50%;
      background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2276%22%20height%3D%2220%22%20viewBox%3D%220%200%2076%2020%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M75.5703%200.328251L62.3933%200.328251C53.6869%200.328251%2045.6609%205.03552%2041.4112%2012.6343L37.7639%2019.1559L37.7639%20-26.1514L75.5703%200.328251Z%22%20fill%3D%22%23F2F3F8%22%2F%3E%3Cpath%20d%3D%22M0.0849078%200.328252L13.2619%200.328252C21.9683%200.328252%2029.9943%205.03552%2034.244%2012.6343L37.8913%2019.1559L37.8913%20-26.1514L0.0849078%200.328252Z%22%20fill%3D%22%23F2F3F8%22%2F%3E%3C%2Fsvg%3E');
    }
  }
  //== 768px ==//
  @media (max-width: $mb) {
    margin: 0 rem(-20);
  }
  //== 440px ==//
  @media (max-width: $mb-s) {
    background-position: center top;
  }

  &__wrapper {
    //== 992px ==//
    @media (max-width: $tb) {
      background-color: var(--clr-white);
      border-radius: rem(30);
      padding: rem(27) rem(21) rem(25) rem(27);
    }
  }

  &__title {
    color: var(--clr-purple);
    font-size: rem(24);
    font-weight: 600;
    line-height: 120%;

    &:not(:last-child) {
      margin-bottom: rem(30);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      font-size: rem(22);

      &:not(:last-child) {
        margin-bottom: rem(22);
      }
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      font-size: rem(18);

      &:not(:last-child) {
        margin-bottom: rem(18);
      }
    }
  }

  &__body {
    color: var(--clr-main);
    font-size: rem(18);
    font-weight: 500;
    line-height: 120%;

    p:not(:last-child) {
      margin-bottom: rem(20);
    }

    //== 576px ==//
    @media (max-width: $mb-m) {
      font-size: rem(16);
    }

    //== 440px ==//
    @media (max-width: $mb-s) {
      font-size: rem(14);
    }
  }
}
