.page {
  &__faq {
    margin-bottom: rem(212);

    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-bottom: rem(140);
    }
  }
}
.faq {
  &__container {
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  &__header {
    @extend %fl-c;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__link {
    color: var(--clr-purple);
    text-align: center;
    font-size: rem(10);
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--clr-purple);
    transition: border-color 0.32s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        border-color: transparent;
      }
    }
  }

  &__body {
    .tabs {
      @extend %fl-r-ct;
    }

    .tabs__navigation {
      flex: 0 0 rem(690);

      &:not(:last-child) {
        margin-right: rem(130);
      }

      //== 1360px ==//
      @media (max-width: $note-l) {
        flex: 0 0 rem(540);
        &:not(:last-child) {
          margin-right: rem(90);
        }
      }
      //== 1200px ==//
      @media (max-width: $note-m) {
        flex: 0 0 rem(380);
        &:not(:last-child) {
          margin-right: rem(90);
        }
      }
      //== 992px ==//
      @media (max-width: $tb) {
        display: none;
      }
    }

    .tabs__title {
      width: 100%;
      cursor: pointer;
      @extend %fl-r-ctb;
      padding: rem(20) rem(27);
      border-radius: 6px;
      border: 1px solid #d8ebf6;
      background: var(--clr-white);
      box-shadow: 0px 8px 12px 0px rgba(117, 132, 146, 0.06);
      transition: all 0.32s ease-in-out;
      text-align: left;

      color: var(--clr-black);
      font-size: rem(16);
      font-weight: 600;
      letter-spacing: 2.4px;

      &:not(:last-child) {
        margin-bottom: rem(15);

        //== 992px ==//
        @media (max-width: $tb) {
          margin-bottom: rem(25);
        }
      }

      span {
        &:not(:last-child) {
          margin-right: rem(15);
        }
      }

      svg {
        flex: 0 0 rem(9);
        fill: #39b8fe;
        transition: fill 0.32s ease-in-out;
      }

      @media (any-hover: hover) {
        &:hover {
          background-color: #39b8fe;
          color: var(--clr-white);
          svg {
            fill: var(--clr-white);
          }
        }
      }
      &._tab-active {
        background-color: #39b8fe;
        color: var(--clr-white);
        svg {
          fill: var(--clr-white);
        }
      }

      //== 440px ==//
      @media (max-width: $mb-s) {
        font-size: rem(14);
      }
    }

    .tabs__content {
      min-height: rem(781);
      width: 100%;
      border-radius: rem(80);
      padding: rem(66) rem(59) rem(128);
      @extend %bg-cov;
      background-image: url('@img/faq/image.png');

      //== 1200px ==//
      @media (max-width: $note-m) {
        min-height: rem(640);
        padding: rem(45) rem(40) rem(60) rem(55);
      }
      //== 992px ==//
      @media (max-width: $tb) {
        padding: 0;
        min-height: none;
        background-image: none;
      }
    }
  }
}
.answer {
  @extend %bg-cov;
  background-color: var(--clr-white);
  padding: rem(44) rem(40) rem(45) rem(52);
  border-radius: rem(80);

  //== 1200px ==//
  @media (max-width: $note-m) {
    padding: rem(45) rem(35);
    border-radius: rem(60);
  }
  //== 992px ==//
  @media (max-width: $tb) {
    padding: rem(40) rem(20) rem(25);
    border-radius: 0;
    background-image: url('@img/faq/image-mobile.png');

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  //== 768px ==//
  @media (max-width: $mb) {
    margin: 0 rem(-20);
  }
  //== 440px ==//
  @media (max-width: $mb-s) {
    background-position: center top;
  }

  &__wrapper {
    //== 992px ==//
    @media (max-width: $tb) {
      background-color: var(--clr-white);
      border-radius: rem(30);
      padding: rem(27) rem(21) rem(25) rem(27);
    }
  }

  &__title {
    color: var(--clr-purple);
    font-size: rem(24);
    font-weight: 600;
    line-height: 120%;

    &:not(:last-child) {
      margin-bottom: rem(30);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      font-size: rem(22);

      &:not(:last-child) {
        margin-bottom: rem(22);
      }
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      font-size: rem(18);

      &:not(:last-child) {
        margin-bottom: rem(18);
      }
    }
  }

  &__body {
    color: var(--clr-main);
    font-size: rem(18);
    font-weight: 500;
    line-height: 120%;

    p:not(:last-child) {
      margin-bottom: rem(20);
    }

    //== 576px ==//
    @media (max-width: $mb-m) {
      font-size: rem(16);
    }

    //== 440px ==//
    @media (max-width: $mb-s) {
      font-size: rem(14);
    }
  }
}
