.page {
  &__team {
  }
}
.team {
  &__container {
  }

  &__title {
  }

  &__slider-block {
    @extend %fl-r-ct;

    .swiper-button-prev,
    .swiper-button-next {
      flex: 0 0 rem(98);
      width: rem(98);
      height: rem(98);
      @extend %fl-a-ct;
      border-radius: 50%;
      transition: background-color 0.32s ease-in-out;

      svg {
        fill: var(--clr-main);
        transition: fill 0.32s ease-in-out;
      }

      @media (any-hover: hover) {
        &:hover {
          background-color: var(--clr-red);

          svg {
            fill: var(--clr-white);
          }
        }
      }
    }
    .swiper-button-prev {
      margin-right: rem(20);
    }
    .swiper-button-next {
      margin-left: rem(20);
    }
  }

  &__slider {
    height: rem(570);
  }

  &__wrapper {
    position: static !important;
    align-items: flex-end;
  }

  &__slide {
    @extend %fl-c;
    justify-content: flex-end;
    transition: all 0.32s ease-in-out;
    position: static !important;

    &:not(.swiper-slide-active) {
      cursor: pointer;
    }

    @media (any-hover: hover) {
      &:not(.swiper-slide-active):hover {
        transform: translateY(rem(-27));
        .team__descr {
          color: var(--clr-purple);
        }
      }
    }
  }

  &__descr {
    color: var(--clr-main);
    text-align: center;
    font-size: rem(16);
    font-weight: 600;
    line-height: 120%;
    transition: all 0.32s ease-in-out;

    &:not(:last-child) {
      margin-bottom: rem(16);
    }

    .swiper-slide-active & {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }

  &__image {
    min-height: rem(270);
    @extend %ibg;
    transition: min-height 0.42s ease-in-out;

    img {
      object-position: center top;
      border-radius: rem(30);
    }

    .swiper-slide-active & {
      min-height: rem(570);
    }
  }

  &__content {
    position: absolute;
    z-index: 99999;
    top: 0;
    right: 0;
  }

  &__name {
    color: var(--clr-purple);
    font-size: rem(28);
    font-weight: 700;
    line-height: 120%;

    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }

  &__review {
    @extend %fl-r-ct;
    color: var(--clr-main);
    font-size: rem(16);
    line-height: 120%;
    font-weight: 400;

    &::before {
      content: '';
      flex: 0 0 rem(34);
      width: rem(34);
      height: rem(32);
      @extend %bg-con;
      background-image: url('@img/icons/star.svg');
    }
  }
}
