.checkbox,
.option {
  position: relative;
  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
  // .checkbox__label
  &__label {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: rem(16);
    &:before {
      content: '';
      align-self: flex-start;
      flex: 0 0 rem(30);
      width: rem(30);
      height: rem(30);
      border-radius: rem(6);
      border: 1px solid #d8ebf6;
      background: var(--clr-white);
      box-shadow: 0px 8px 12px 0px rgba(117, 132, 146, 0.06);
      transition: all 0.32s ease-in-out;

      //== 440px ==//
      @media (max-width: $mb-s) {
        flex: 0 0 rem(25);
        width: rem(25);
        height: rem(25);
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: rem(2);
      left: rem(7);
      flex: 0 0 rem(26);
      width: rem(26);
      height: rem(19);
      @extend %bg-con;
      background-image: url('@img/icons/popup-check.svg');
      transform: scale(0);
      transform-origin: 40% 60%;
      transition: transform 0.32s ease-in-out;

      //== 440px ==//
      @media (max-width: $mb-s) {
        top: rem(9);
        left: rem(8);
        flex: 0 0 rem(10);
        width: rem(10);
        height: rem(8);
      }
    }
  }
  // .checkbox__text
  &__text {
    color: var(--clr-main);
    font-size: rem(12);
    font-weight: 600;
    letter-spacing: 1.8px;
    transition: color 0.32s ease-in-out;

    a {
      transition: border-color 0.32s ease-in-out;
    }
    a:link,
    a:visited {
      border-bottom: 1px solid var(--clr-main);
    }
    a:hover {
      border-color: transparent;
    }

    //== 440px ==//
    @media (max-width: $mb-s) {
      font-size: rem(10);
    }
  }

  .just-validate-error-label {
    display: none;
  }
}

.checkbox__input:focus + .checkbox__label:before,
.option__input:checked + .option__label::before {
  box-shadow: 0 0 5px rgba(117, 132, 146, 0.16);
}
.checkbox__input:checked + .checkbox__label:after,
.option__input:checked + .option__label::after {
  transform: scale(1);
}
.checkbox__input.just-validate-error-field + .checkbox__label {
  &::before {
    border-color: rgb(184, 17, 17);
  }
}
