[hidden] {
  display: none;
}

@keyframes menu07-bar01 {
  0% {
    transform: translateY(6px) rotate(45deg);
  }

  50% {
    transform: translateY(6px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes menu07-bar03 {
  0% {
    transform: translateY(-6px) rotate(-45deg);
  }

  50% {
    transform: translateY(-6px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes active-menu07-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(6px) rotate(0);
  }

  100% {
    transform: translateY(6px) rotate(45deg);
  }
}
@keyframes active-menu07-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-6px) rotate(0);
  }

  100% {
    transform: translateY(-6px) rotate(-45deg);
  }
}

.title {
  color: var(--clr-title);
  text-align: center;
  font-size: rem(50);
  font-weight: 600;
  line-height: 120%;

  &:not(:last-child) {
    margin-bottom: rem(45);
  }

  //== 992px ==//
  @media (max-width: $tb) {
    font-size: rem(40);
  }
  //== 576px ==//
  @media (max-width: $mb-m) {
    font-size: rem(36);
  }
  //== 440px ==//
  @media (max-width: $mb-s) {
    font-size: rem(30);

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
}
