// Подключение общих CSS-переменных
:root {
  //* Переменные
  --header-height: 8.4375rem;

  //* Цвета
  --clr-white: #fff;
  --clr-bg: #f2f3f8;
  --clr-main: #758492;
  --clr-black: #333333;
  --clr-purple: #695697;
  --clr-blue: #6eadc1;
  --clr-title: #39b8fe;
  --clr-red: #ff5f5f;
  --clr-light-blue: #d3e4ed;
  --clr-red-accent: #f52525;

  //== 768px ==//
  @media (max-width: $mb) {
    --header-height: 7.1875rem;
  }
  @media (max-width: em(639.98)) {
    --header-height: 5.9375rem;
  }
  //== 440px ==//
  @media (max-width: $mb-s) {
    --header-height: 4.25rem;
  }
}
