// Подключение общих CSS-переменных
:root {
  //* Переменные
  --header-height: 135px;

  //* Цвета
  --clr-bg: #f2f3f8;
  --clr-main: #758492;
  --clr-black: #333333;
  --clr-purple: #695697;
  --clr-light-blue: #6eadc1;
  --clr-red: #ff5f5f;
  --clr-red-accent: #f52525;
}
